* {
  font-family: system-ui;
}

body {
  background-color: #1b1b29;
  color: #e8cfd7;
}

a:link {
  color: #ef956d;
}

a:hover {
  color: #f7d6e0;
}

a:visited {
  color: #cba6f7;
}

header h1,
header p {
  text-align: center;
}

header img {
  max-width: 100%;
  height: auto;
}

main {
  width: 100%;
  margin: 0 auto;
  padding: 3em;
  max-width: 1000px;
}

aside {
  float: right;
  width: 30%;
  margin-left: 2%;
}

section {
  float: left;
  width: 65%;
}

article {
  margin-bottom: 2em;
}

footer {
  clear: both;
  text-align: justify;
  padding: 2em;
}

footer p {
  font-size: 0.8em;
  margin-bottom: 0;
}
