body {
  font-family: system-ui;
  background-color: #1b1b29;
  color: #e8cfd7;
}

textarea,
input {
  background-color: #e8cfd7;
  box-sizing: border-box;
  padding: 10px;
  border-radius: 10px;
  margin: 1px;
}

input[type="submit"] {
  background-color: #ef956d;
  color: #1b1b29;
  border: none;
  border-radius: 10px;
  padding: 10px;
  margin: 1px;
}

a:link {
  color: #ef956d;
}

a:visited {
  color: #cba6f7;
}

header {
  text-align: center;
}

main {
  width: 100%;
  margin: 0 auto;
  padding: 3em;
  max-width: 1000px;
}

aside {
  float: right;
  width: 30%;
}

section {
  float: left;
  width: 65%;
}

article {
  margin-bottom: 2em;
}

footer {
  clear: both;
  text-align: center;
  padding: 2em;
}
